body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  #carrito-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .carrito-item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .carrito-total {
    margin-top: 20px;
    text-align: center;
  }
  
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  